
    <!--Main layout-->
    <main class="main-layout">
        <div class="container section-repo">

          <!--Section: Main info-->
          <section class="mt-5 wow fadeIn" *ngFor="let repository of repositories">
    
            <!--Grid row-->
            <div class="row repo-row">
    
              <!--Grid column-->
              <div class="col-md-6 mb-4">
                <a href="{{ repository.html_url }}" target="_blank">
                  <img src="{{ repository.owner.avatar_url }}" class="img-fluid z-depth-1-half" alt="">
                </a>
              </div>
              <!--Grid column-->
    
              <!--Grid column-->
              <div class="col-md-6 mb-4">
    
                <!-- Main heading -->
                <a href="{{ repository.html_url }}" target="_blank" class="title-link">
                  <h3 class="h3 mb-3">{{ repository.name }}</h3>
                </a>
                <p> {{ repository.description }} </p>
                <!-- Main heading -->
    
                <hr/>
                <p>
                    Submitted {{ lastSubmit(repository.pushed_at) }} by {{ repository.owner.login | titlecase }}.
                </p>
                <!-- CTA -->
                <a target="_blank" href="{{ repository.html_url }}/stargazers" class="btn btn-indigo btn-md border-radius-30">
                  <i class="fas fa-star mr-1"></i>
                  Stars: <span class="badge badge-danger ml-2"> {{ utilsService.abbreviateNumber( repository.stargazers_count ) }} </span>
                </a>
                <a target="_blank" href="{{ repository.html_url }}/issues" class="btn btn-indigo btn-md border-radius-30">
                  <i class="fas fa-bug mr-1"></i>
                  Issues: <span class="badge badge-danger ml-2"> {{ utilsService.abbreviateNumber( repository.open_issues_count ) }} </span>
                </a>
              </div>
              <!--Grid column-->
    
            </div>
            <!--Grid row-->
    
          </section>
          <!--Section: Main info-->

          <div class="row spinner-github-row" #octoCatSpinner>
            <div class="col-md-4 offset-md-4">
             <img src="../../assets/img/octocat-spinner-128.gif" class="img-fluid img-thumbnail mx-auto d-block github-spinner" alt="">
            </div>
          </div>
          

        </div>
      </main>
      <!--Main layout-->

