  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
      <div class="container">
  
        <!-- Brand -->
        <a class="navbar-brand" routerLink="['']">
          <strong>Trending Repos</strong>
        </a>

        <!-- Links -->
        <div class="flex-row-reverse" id="navbarSupportedContent">

          <!-- Right -->
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a href="https://www.facebook.com/UnitedRemote" class="nav-link" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://twitter.com/unitedremote" class="nav-link" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/hiddenfounders" class="nav-link border border-light rounded"
                target="_blank">
                <i class="fab fa-github mr-2"></i>United Remote
              </a>
            </li>
          </ul>
  
        </div>
  
      </div>
    </nav>
    <!-- Navbar -->
  